<div id="hero" style="background:url('/assets/site-home.jpg') no-repeat;background-size:cover;background-position:top center">
  <h1 class="display-3 text-center text-white greatVibesFont" style="padding-top:65vh;padding-bottom:85vh;text-shadow : 0px 3px 4px rgba(0,0,0,0.8)">
    Rachão das 10h
  </h1>
</div>