<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">
        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), style: "width: 23rem;") do |f| %>
            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>
            <div class="form-outline mb-4">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
            </div>

            <div class="form-outline mb-4">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="pt-1 mb-4">
              <%= f.submit "Log in", class: "btn btn-dark btn-light" %>
            </div>

            <%= render "devise/shared/links" %>
          <% end %>
        </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="/assets/futebol-login.jpg"
          alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>